/* GENERAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #000000;
    background: #eeefed;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

main {
    background: url("../img/1912657.jpg") center -200px no-repeat fixed;
}


.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after  {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

.container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 .25em;
}

/* HEADER */

.logo {
    float: left;
    margin: .5em 0;
}

.nav-bar {
    background: #6473b3;
    border-bottom: 0.5px solid #B3543B;
}

nav {
    display: block;
}

.navigation {
    float: right;
}

.navigation a {
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 1em 0.8em;
    width: 9em;
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;

}

.navigation a:hover,
.navigation a:focus {
    color: rgb(212, 218, 250);
    transform: scale(1.05);
    transition: all .5s ease;
}

.navigation li {
    display: inline-block;
    border-left: 1px solid #f2f2f2;
}

.navigation li:last-child {
    border-right: 1px solid #f2f2f2;
}

.logo a {
    color: rgb(223, 208, 208);
}

h1 {
    font-family: 'Fredoka One', cursive;
}

.sec-header {
    float: right;
}

.logo strong {
    color: rgb(247, 240, 240);
    font-size: 1.4em;

}

.fa-caravan {
    font-size: 1.1em;
    color: rgb(247, 196, 152);
}

.main-header{
    max-width: 22%;
    background:  #6473b327;
    padding: 1em 0.5em;
    margin: 0;
    border: 1px solid #95969e;
}


/* Main content*/

.info-list {
    padding-bottom: 1em;
}

.col-container {
    display: table;
    width: 100%;
    border: 1px solid #2e2020;
}

.col {
    display: table-cell;
    width: 50%;
    background: #5c53add3;
    color: rgb(168, 245, 245);
}

.info,
.details {
    padding: 0.75em;
}



