/* GENERAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #000000;
    background: #f7f7f7;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after  {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

.container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 .25em;
}

/* HEADER */

.logo {
    float: left;
    margin: .5em 0;
}

.nav-bar {
    background: #1CB383;
    border-bottom: 0.5px solid #B3543B;
}

nav {
    display: block;
}

.navigation {
    float: right;
}

.navigation a {
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 1em 0.8em;
    width: 9em;
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;

}

.navigation a:hover,
.navigation a:focus {
    color: rgb(212, 218, 250);
    transform: scale(1.05);
    transition: all .5s ease;
}

.navigation li {
    display: inline-block;
    border-left: 1px solid #cecece;
}

.navigation li:last-child {
    border-right: 1px solid #cecece;
}

.logo a {
    color: rgb(223, 208, 208);
}

h1 {
    font-family: 'Fredoka One', cursive;
}

.logo strong {
    color: rgb(247, 240, 240);
    font-size: 1.4em;

}

.fa-caravan {
    font-size: 1.1em;
    color: rgb(247, 196, 152);
}

/* Main content*/

.content {
    /*background: url('../img/bground_1_dark.jpeg') ;*/
    background-color: #A1FFE1;
}





